.sidebar {
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
}

.backdrop {
  position: fixed;
  top: 400px;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .5;
  cursor: pointer;
}

.sidebar ul {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 400px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.sidebar ul li {
  font-size: 24px;
  margin: .5rem auto;
}

@keyframes left {
  0% {
    margin-left: -200px;
  }
  40% {
    margin-left: 100px;
  }
  50% {
    margin-left: 1rem;
  }
  60% {
    margin-left: 3rem;
  }
  90% {
    margin-left: 1rem;
  }
  100% {
    margin: .5rem auto;
  }
}

.nav-link {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: ease-out .5s;
}

.nav-link:hover,
.nav-link:focus {
  background-color: grey;
  color: white;
  transition: ease-in .5s;
}

.nav-link span {
  text-transform: uppercase;
}

.sidebar button {
  position: absolute;
  top: 15px;
  font-size: 24px;
  text-transform: uppercase;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.active {
  font-size: bold;
  color: blue;
}

@media (min-width: 767px) {
  .sidebar {
    width: auto;
    height: 100vh;
  }

  .sidebar-wrapper {
    flex-direction: row;
  }
  
  .backdrop {
    left: 250px;
    top: 0;
  }
  
  .sidebar ul {
    width: 250px;
    height: 100vh;
  }
  
  .sidebar ul li {
    animation: left 1s;
  }
}